<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-xxl">
      <a class="navbar-brand d-flex align-items-center" href="#">
        <img src="/images/{{ .Site.Params.NavLogo }}" alt="" width="48" height="48" class="d-inline-block align-text-top">
        <span class="ms-3"><strong>{{ .Site.Title | upper }}</strong><br><small>{{ .Site.Params.Subtitle }}</small></span>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {{ $currentPage := . }}
          {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_{{ .Identifier }}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  {{ .Name | upper }}
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown_{{ .Identifier }}">
                  {{ range .Children }}
                    <li><a class="dropdown-item" href="{{ .URL }}">{{ .Name | upper }}</a></li>
                  {{end}}
                </ul>
              </li>
            {{ else }}
              <li class="nav-item">
                {{ if .Params.cta }}
                <a class="btn btn-{{ .Params.cta }}" href="{{ .URL }}">{{ .Name | upper }}</a>
                {{ else }}
                <a class="nav-link{{ if $currentPage.HasMenuCurrent "main" . }} active{{ end }}"  aria-current="page" href="{{ .URL }}">{{ .Name | upper }}</a>
                {{ end }}
              </li>
            {{ end }}
          {{ end }}
          <!--

          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        -->
      </div>
    </div>
  </nav>
</header>
